// index.scss最先加载，然后是组件样式，最后是 variables.scss 作用于 scoped
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

//html, body {
//  overflow: hidden; /* 禁用全局滚动条 */
//  height: 100vh; /* 确保视口高度占满 */
//  margin: 0; /* 消除默认边距 */
//  padding: 0;
//}

/*滚动条美化*/
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e6eb;
  border-radius: 5px;
  position: fixed;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}
